/* CSS Document */
body
{
	height		: 100%;
	font-size	: 12px;
	text-align	: center;
	direction	: rtl;
}
#cke_editor1
{
	margin-top:4px;
}

#main_section
{
	width:980px;
	margin:4px auto 4px;
}
#menu{
	width:982px;
	margin:5px auto;

}	
#content
{
	width:976px;
	margin:4px auto 0px;
	padding:2px;
}
.inputBox
{
	font-family:tahoma;
	-moz-border-radius:5px 5px 5px 5px;
	font-size:12px;
	border: 1px solid silver;
	text-align:right;
}
.label
{
	font-family:tahoma;
	font-size:12px;
	text-align:right;
}
.btn
{
	margin:2px;
}
a
{
	text-decoration:none;
}
h1
{	
	font-size:13px;
	color:#009900;
	padding:5px 0 5px;
	line-height:20px;
	margin:0;
}
h2
{
	font-size:12px;
	color:red;
	padding:6px 0 6px;
	margin:0;
	line-height:20px;
}
h3
{
	font-size:12px;
	padding:6px 0 6px;
	line-height:20px;
	margin-bottom:5px;
}
h5
{
	font-size:11px;
	padding:2px 0 2px;
	line-height:20px;
	font-weight:normal;
}

.cnt_del
{
	width:70%;
	margin:0 auto;
	color:#FFFFFF;
}
table.center
{
	margin-left:auto;
	margin-right:auto;
	text-align:right; 
}
img
{
	border:none;
}

th
{
	padding:3px;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
	height:28px;
}
td
{
	padding:1px;
	font-size:12px;
	vertical-align:middle;
	height:25px;
}
.showborder td,.showborder th{
border:1px solid;
}

.lnk a:hover{font-weight:bold;}
.lnk a:active{color:#000099;}